.button-wrapper {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-size: 1.4em;
    background-color: #adad9e;
    color: black;
    flex: 1;
    outline: 1px solid #888;
}

.operator {
    background-color: #2b2b2a;
    color: white;
}
